body {font-family: 'Roboto', 'Raleway,' sans-serif;
color: #212121}

button {cursor: pointer;}

li {list-style: none;
font-style: normal;}

a{text-decoration: none;}

:root {
    --brand-color-: #2196F3;
--brand-color-header: #212121;
--brand-color-footer: #FFFFFF;
--info-color: #757575;}

/*------------HEADER------------------------------*/
.header {background: #FFFFFF;}


.header-nav {}

.logo-link {}

.logo {font-weight: 700;
    font-size: 26px;
line-height: 1.19em;}

.logo-text_web {font-family: 'Raleway';
    color: var(--brand-color-);}

.logo-text_studio {font-family: 'Raleway';
    color: var(--brand-color-header);}

.nav-list {}

.nav-item {}

.nav-link:hover,
.contact-link:hover,
.adress-link:hover {color: #2196F3;}

.nav-link {font-family: 'Roboto';
    font-weight: 500;
        font-size: 14px;
        color: #212121;
        line-height: 1.14em;
    }
.contact-link {font-family: 'Roboto';
    font-weight: 500;
        font-size: 14px;
    color: var(--info-color);
line-height: 1.14em;}

.contact-list {}

.contact-item {}

/*------------MAIN--------------------------------*/

/*-----------FOOTER-------------------------------*/
.footer {background: #2F303A;}

.logo-link {}

.logo {}

.logo-text_web {}

.footer-logo-text_studio {font-family: 'Raleway';
    color: var(--brand-color-footer);}

.address {}

.adress-list {}

.adress-item {}

.adress-link {font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 400;
        font-size: 14px;
line-height: 1.71em;}

