body{
    font-family: 'Roboto', 'Raleway,' sans-serif;
color: black;
}

button{
    cursor: pointer;
}

/*------------HEADER------------------------------*/
.header {}

.header-nav {}

.header-nav-link {}

.logo {}

.list-nav {}

.list-item-nav {}

.list-nav-link {}

.list-contact {}

.list-contact-item {}

.list-contact-link {}
/*------------MAIN--------------------------------*/

/*-----------FOOTER-------------------------------*/
